
/*------ Typography Style Start ------*/
body {
    color: #444444;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover, 
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 8px;
}

p:last-child {
     margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.btn,
button {
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    transition: 0.4s;
}

.btn:active, 
.btn:focus,
button:active,
button:focus {
    outline: none;
    box-shadow: none;
}

input,
textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.page-header {
    text-align: center;
    margin-top: 50px;
}

.btn {
    margin-top: 100px;
}